@media only screen and (max-width: 600px) {
  .container {
    width: 85%;
    height: 60%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .container {
    width: 85%;
    height: 60%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .container {
    width: 85%;
    height: 60%;
  }

  .rotation {
    width: 95%;
    height: 65%;
    bottom: 120px;
    top: 5px;
    left: 2px;
    right: 2px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .container {
    width: 30%;
  }

  .rotation {
    width: 34%;
    height: 60%;
    bottom: 145px;
    left: 2px;
    right: 2px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 30%;
  }

  .rotation {
    width: 34%;
    height: 60%;
    bottom: 145px;
    left: 2px;
    right: 2px;
  }
}
