* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: white;
  font-family: "Ubuntu", sans-serif;
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(240, 105, 105);
  display: block;
  width: 30%;
  margin: 10% auto;
  border-radius: 50px;
  padding: 1%;
  text-align: center;
}

.profileImage {
  border-radius: 50%;
  border: 3px solid rgb(97, 44, 44);
  padding: 1%;
  margin: 2%;
  margin-top: 4%;
  background-color: black;
}

.mainName {
  font-size: 25px;
  font-weight: 700;
  transition: color 0.5s;
}

.mainName:hover {
  color: rgb(73, 3, 3);
}

.tagline {
  font-weight: 600;
  font-size: 16px;
  color: black;
  padding-top: 1%;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  margin: 2%;
}

.button {
  margin: 3% 1%;
  font-size: 25px;
  padding: 1.5%;
  border-radius: 25px;
  background-color: rgba(255, 53, 53, 0.7);
  border-style: none;
  background-color: #131010;
  color: #ff8282;
  transition: color 1s linear;
}

.button:hover {
  color: #871717;
}

.footer {
  font-size: 20px;
  font-weight: 100;
  color: rgb(47, 44, 44);
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer > ul > li {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 2px solid black;
  padding: 0 10px;
}

.footer > ul > li:nth-child(3) {
  border: none;
}

.rotation {
  width: 34%;
  height: 60%;
  border-radius: 50px;
  bottom: 145px;
  left: 2px;
  right: 2px;
  position: absolute;
  margin: auto;
  z-index: -1;
  --angle: 0deg;
  filter: blur(20px);
  opacity: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #ff008c,
    #00ffea,
    #ff0000,
    #6200ff,
    #00a2ff,
    #ffae00,
    #8c00ff,
    #00ff44
  );
  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: 85%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .container {
    width: 85%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .container {
    width: 85%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .container {
    width: 85%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 85%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    width: 85%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .container {
    width: 85%;
  }

  .rotation {
    width: 95%;
    height: 70%;
    bottom: 210px;
    top: 200px;
    left: 2px;
    right: 2px;
  }
}
