@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background-color: #660066;
  color: white;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front,
.back {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50px;
  background-color: #d896ff;
  box-shadow: 3px 3px 10px #aa17ff;
  transition: transform 1s;
}

.front {
  z-index: 1;
}

.back {
  z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 90%;
  margin: 1%;
  padding: 3%;
  display: flex;
  align-items: center;
}

.formContainer > input {
  position: absolute;
  right: 8%;
  width: 70%;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  padding: 2%;
}

hr {
  border: 2px solid black;
  border-radius: 50px;
  width: 90%;
  margin-bottom: 10%;
}

.btn {
  font-size: 1.3rem;
  border: 2px solid black;
  text-decoration: none;
  padding: 2%;
  cursor: pointer;
  border-radius: 20px;
  background-color: #efbbff;
  width: 10%;
  margin-top: 3%;
  transition: all 2s;
}

.btn:hover,
.submitBtn:hover {
  background-color: white;
  border: 2px solid #800080;
}

.submitBtn {
  margin: 5%;
  width: 60%;
}

h1 {
  text-shadow: 1px 2px 1px black;
}
