@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 25px;
}

body {
  height: 110vh;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  box-shadow: 2px 0 4px black;
  z-index: 3;
}

.logo {
  width: 150px;
  align-self: center;
  color: rgb(255, 0, 0);
}

.navContainer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.navLinks {
  text-decoration: none;
  color: rgb(40, 40, 40);
  transition: all 0.5s;
  padding: 0.5em;
}

.navLinks:hover {
  color: rgb(253, 55, 55);
  border-bottom: 4px solid rgb(253, 55, 55);
}

.svgs {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background-color: rgb(181, 196, 232);
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.homeImage {
  position: absolute;
  right: 100px;
  height: 90vh;
  filter: drop-shadow(0 0 20px black);
}

.homeLine1 {
  position: relative;
  top: 28%;
  left: 10%;
  font-size: 2rem;
}

.homeLine2 {
  position: relative;
  top: 28.5%;
  left: 10%;
  font-size: 1rem;
}

.lightText {
  position: relative;
  top: 31%;
  left: 13%;
  font-weight: 100;
  font-size: 0.7rem;
  color: gray;
  width: 30vw;
}

.btn {
  position: relative;
  top: 34%;
  left: 13%;
  text-decoration: none;
  border: none;
  padding: 1%;
  font-size: 0.7rem;
  background-color: rgb(253, 55, 55);
  transition: all 1s;
  border-radius: 2vmax;
}

.btn:hover {
  color: white;
  background-color: transparent;
  border: 2px solid rgb(253, 55, 55);
}

.imageBox > img {
  margin: 5px;
}

.imageBox > img:hover {
  transform: translateY(-10px);
}

.productText {
  margin-top: 3%;
  text-align: center;
  color: rgb(253, 55, 55);
  padding: 1%;
  width: 120px;
  transition: all 0.5s;
}

.productText:hover {
  border-bottom: 3px solid rgb(253, 55, 55);
}

.container {
  width: 95vw;
  margin: 1% auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.imgCaption {
  text-align: center;
  margin-bottom: 2%;
  font-weight: 100;
  font-size: 0.8rem;
}

footer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 0.5rem;
  padding: 2%;
}

.left {
  flex-basis: 25vw;
}

.mid {
  flex-basis: 50vw;
  text-align: center;
}

.footerLogo {
  color: rgb(253, 55, 55);
  font-size: 2rem;
  padding: 3%;
}

.footerText {
  color: gray;
  font-size: 0.75rem;
  margin-top: 2%;
}

.right {
  flex-basis: 25vw;
  padding: 3%;
  text-align: center;
}

.followHeader {
  text-decoration: underline;
  margin-bottom: 2%;
}

.social {
  margin: 5%;
  font-size: 0.6rem;
}
