@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfc0c0;
}

.main {
  border-radius: 50px;
  width: 40%;
  padding: 1%;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 10px 20px rgb(0, 0, 0, 0.9);
}

input:focus {
  outline: none;
}

input,
input::placeholder {
  color: #282827d7;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.result {
  width: 100%;
  height: 10%;
  font-size: 1.65rem;
  border: none;
  background-color: #cdcbe7;
  padding-left: 5%;
  border-radius: 50px;
  margin-bottom: 1%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-style: none;
  font-size: 20px;
  width: 25%;
  height: 10%;
  margin: 1%;
  border-radius: 20px;
  background-color: #ffffff;
  color: #282827d7;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  transition: all 0.2s linear;
}

.button:hover {
  background-color: #dad4e0;
}

sup {
  font-size: 10px;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 90%;
    height: 100vh;
  }
}

@media screen and (max-width: 992px) {
  .button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  input,
  input::placeholder {
    font-size: 1.5rem;
  }

  .result {
    font-size: 20px;
  }

  .main {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 576px) {
  input,
  input::placeholder {
    font-size: 1.2rem;
  }

  .result {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  input,
  input::placeholder {
    font-size: 1.1rem;
  }

  .result {
    font-size: 16px;
  }
}

@media screen and (max-width: 360px) {
  input,
  input::placeholder {
    font-size: 1rem;
  }

  .result {
    font-size: 14px;
  }
}
