body {
  background-color: rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

#number {
  font-size: 20px;
  padding: 1%;
  border: none;
  border-radius: 50px;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 1%;
}

.btn {
  font-size: 20px;
  text-decoration: none;
  border: none;
  background-color: #f5ce9a;
  padding: 1%;
  border-radius: 20px;
}

.btn:hover {
  background-color: black;
  color: #f5ce9a;
}
