* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://static.tumblr.com/0a05985b1fb0a43530e57d6c0bc7206b/imuarky/MTamxbgb5/tumblr_static_tumblr_lsi8p153ix1qer7uso1_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.container {
  background: black;
  font-family: "Open-sans", sans-serif;
  color: white;
  opacity: 0.8;
  text-align: center;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
}

.container p {
  margin: 15px;
}

#title {
  font-size: 1.5em;
}
