@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
  background-color: #111;
  color: #818181;
  font-family: "Raleway", sans-serif;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 1s;
  padding-top: 60px;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 1s;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 18px;
  }
}

span {
  font-size: 30px;
  cursor: pointer;
  margin: 3% 1%;
}

.profile {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(232, 220, 220);
  display: block;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: 5% auto;
  border-radius: 50px;
  padding: 1%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 10px 10px black;
}

.content {
  width: 100%;
  right: 0;
  left: 0;
}

.profileImage {
  border-radius: 50%;
  border: 3px solid rgb(97, 44, 44);
  padding: 1%;
  margin: 2%;
  margin-top: 4%;
  background-color: black;
}

.mainName {
  font-size: 25px;
  font-weight: 700;
  transition: color 0.5s;
}

.mainName:hover {
  color: rgb(0, 0, 0);
}

.tagline {
  font-weight: 600;
  font-size: 16px;
  color: black;
  padding-top: 1%;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  margin: 2%;
}

.button {
  margin: 3% 1%;
  font-size: 25px;
  padding: 1.5%;
  border-radius: 25px;
  background-color: rgba(255, 53, 53, 0.7);
  border-style: none;
  background-color: #131010;
  color: #ff8282;
  transition: color 1s linear;
}

.button:hover {
  color: #871717;
}

.footer {
  font-size: 20px;
  font-weight: 100;
  color: rgb(47, 44, 44);
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer > ul > li {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 2px solid black;
  padding: 0 10px;
}

.footer > ul > li:nth-child(3) {
  border: none;
}

.rotation {
  width: 105%;
  height: 105%;
  left: -11px;
  bottom: 20px;
  top: 16px;
  border-radius: 50px;
  position: absolute;
  margin: auto;
  z-index: -10;
  --angle: 0deg;
  filter: blur(1px);
  opacity: 50%;
  background-image: conic-gradient(
    from var(--angle),
    #313131,
    #ffffff,
    #363434,
    #ffffff,
    #2b2d2d,
    #ffffff,
    #413d44,
    #ffffff
  );
  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

a:hover {
  color: #000000;
}

/* @media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
  .mainSection {
    margin-top: 30%;
  }

  .container {
    width: 90%;
  }

  .rotation {
    width: 105%;
    height: 105%;
    left: -25px;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .mainSection {
    margin-top: 30%;
  }

  .container {
    width: 90%;
  }

  .rotation {
    width: 105%;
    height: 105%;
    left: -25px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .container {
    width: 90%;
  }

  .rotation {
    width: 105%;
    height: 105%;
    left: -25px;
  }
}

@media only screen and (min-width: 1200px) {
} */
