.clock-3 {
  width: 25rem;
  height: 25rem;
  background-color: #f0f0f2;
  margin: 5% auto;
  border-radius: 50%;
  position: relative;
  padding: 2rem;
  box-shadow: 20px 18px 8px 0px #818181;
}

.face-3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hour-3,
.minute-3,
.second-3 {
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: orbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: orbit;
}

.hour-3 {
  width: 60%;
  height: 60%;
  animation-duration: 60s;
  -webkit-animation-duration: 60s;
}

.minute-3 {
  width: 70%;
  height: 70%;
  animation-duration: 60s;
  -webkit-animation-duration: 60s;
}

.second-3 {
  width: 80%;
  height: 80%;
  animation-duration: 60s;
  -webkit-animation-duration: 60s;
}

.hour,
.minute,
.second {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(21, 20, 20);
  border-radius: 50%;
}

.hour {
  width: 15%;
  height: 15%;
}

.minute {
  width: 10%;
  height: 10%;
}

.second {
  width: 5%;
  height: 5%;
}

.button {
  background-color: rgb(234, 76, 137);
  border-radius: 25px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1% 0;
  padding: 1% 2%;
  text-align: center;
  width: 20%;
}

@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
