@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@1,200&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(255, 145, 145);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  background-image: url(./panel-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  width: 40%;
  height: 40%;
  padding: 2%;
  text-align: center;
  border-radius: 40px;
  box-shadow: 10px 10px 9px #000000;
  font-family: "Ysabeau Office", sans-serif;
  font-weight: 700;
}

.btn {
  margin-top: 38%;
  padding: 1% 2%;
  background-color: rgb(254, 92, 92);
  border-radius: 25px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  width: 25%;
  box-shadow: 10px 10px 9px #000000;
}

.img {
  position: absolute;
  top: 200px;
  right: 440px;
  height: 150px;
  width: 150px;
  padding: 0.2%;
  border: 5px solid black;
  border-radius: 50%;
}
